body {
    font-family: 'Roboto Slab', serif;
}

body p {
    color: gray;
}

h1 {
    font-size: 55px;
    padding-top: 160px;
}

.part-1 {
    margin-left: 15%;
    color: white;
}

.part-1 p {
    margin-bottom: 55px;
    color: white;
}

.sec-1 {
    background-image: url(images/eid.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;

}

.button {
    background-image: linear-gradient(skyblue, darkblue);
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 20px;
}

.half-width {
    width: 40%;
    padding-left: 100px;
}

.half-width h1 {
    font-size: 35px;
    padding-top: 120px;
}

.half-width img {
    width: 90%;
    margin-top: 160px;
    height: 350px;
}

.space {
    padding-bottom: 50px;
}

.flexible {
    display: flex;
}

.exception {
    text-align: center;
    margin-top: -100px;
}

.heading-1 {
    font-size: 35px;
}

.half {
    display: flex;
}

.side {
    display: flex;
    justify-content: center;
    background-color: rgb(205, 252, 255);
    margin-right: 5%;
    width: 30%;
    padding: 20px;
}

.left {
    margin-left: 10%;
}